@charset "UTF-8";
.box-shadow{
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -moz-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
.container{
    width: @w100;
    height: auto;
    margin: 0 auto;
    background: @c_bg;
}
.mian{
    width: @w1200;
    height: auto;
    margin: 0 auto;
}
.mian-left{
    width: 856px;
    height: auto;
}
.mian-right{
    width: 344px;
    height: auto;
}
.contert{
    width: @w1200;
    height: auto;
    background: @c_bai;
    margin: 38px auto;
    .box-shadow;
}

.map-input{
    .box-shadow;
}

.home-mian{
    margin: -200px auto 0 auto;
    position: relative;
    z-index: 9999;
}
