@charset "UTF-8";
//栏目标题
h2.tit1{
    font-size: @fz24;
    text-align: left;
    color: @c_lan;
}
h2.tit2{
    font-size: @fz24;
    text-align: left;
    color: @c_lan;
    padding-left: 20px;
}
h2.tit3{
    font-size: @fz24;
    text-align: left;
    color: @c_bai;
}
// 文章标题
h3{
    font-size: @fz18;
    text-align: left;
    color: @c_hei;
    overflow: hidden;
}