@charset "UTF-8";
.main{
	background: @c_bg;
}
.useme-title{
	display:inline;
	margin:10px 0 0;
	width:144px;
	height:35px;
	font-size: @fz20;
	text-align:left;
	line-height: 30px;
	color: @c_lan;
	background: @c_bai;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.siderbar{
	margin:10px 0;
	width:144px;
	height:auto;
	float:left;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.column{
	width:144px;
	height:auto;
}
.column ul{
	margin:10px 0;
}
.column ul li {
	width:144px;
	height:44px;
	font-size:@fz20;
	color:@c_lan;
	border-top: 1px solid rgb(221,221,221);
	text-align:center;
	line-height: 40px;
	background:@c_bai;
}
.line1{
	float:left;
	display:inline-block;
	width:5px;
	height:44px;
	background:@c_lan;
}
.line2{
	float:right;
	display:inline-block;
	width:5px;
	height:44px;
	background:@c_lan;
}
.rightbar{
	margin:10px 0px;
	width:1038px;
	height:800px;
	float:right;
	font-size: 18px;
	color:#6b6b6b;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.useme-info{
	margin:80px auto;
	width:915px;
	height:200px;
}
.photo{
	margin:15px;
	float:left;
	width:130px;
	height:130px;
}
.useme-meg{
	line-height:35px;
}
.remind{
	margin:20px 0;
	border-top: 1px solid #dddddd;
}
.order{
	margin:auto;
	width:915px;
}
.order ul li{
	float:left;
	width:113px;
	text-align:center;
	line-height:50px;
	border-top: 1px solid #dddddd;
}
.fillin{
	font-size:16px;
	border-top: 1px solid #dddddd;
}
.fl-r{
	float:right;
}